.card,
.card-front,
.card-back {
	width: 20em;
}
.enhanced .card,
.enhanced .card-front,
.enhanced .card-back {
	height: 15em;
}
.card-front,
.card-back {
	border: 1px solid #ccc;
	border-radius: .2em;
	box-shadow: 0 0 .4em rgba(200,200,200,.8);
	background-color: #fff;
}
.card-back {
	background-color: #ddd;
}
.card p {
	margin: 1em;
}



.transform-3d .flip-front {
	z-index: 9;
	
	-webkit-transform: rotateX(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateX(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	-webkit-transition: -webkit-transform .4s ease-in-out;
	-moz-transition: -moz-transform .4s ease-in-out;
}
.transform-3d .flip-over .flip-front {
	z-index: 9;

	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}
.transform-3d .flip-back {
	z-index: 8;
			
	-webkit-transform: rotateX(-180deg);
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateX(-180deg);
	-moz-backface-visibility: hidden;
	
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}
.transform-3d .flip-over .flip-back {
	opacity: 1;
	z-index: 1;
			
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}